/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Pricing One
====================================================================

***/

.pricing-one {
    position: relative;
    padding-bottom: 80px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.pricing-one.style-two {
    padding-top: 110px;
}

/* Pricing Tabs */

.pricing-tabs {
    position: relative;
}

.pricing-tabs .title-column {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.pricing-tabs .tab-buttons {
    position: relative;
    text-align: center;
    display: inline-block;
}

.pricing-tabs .tab-buttons .tab-btn {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    float: left;
    cursor: pointer;
    margin: 0 20px;
    line-height: 47px;
    color: var(--black-color);
    transition: all 300ms ease;
}

.pricing-tabs .tab-buttons .tab-btn:hover,
.pricing-tabs .tab-buttons .tab-btn.active-btn {
    color: var(--main-color);
}

.pricing-tabs .tab-buttons .boll {
    position: relative;
    width: 92px;
    height: 45px;
    padding: 8px 8px;
    border-radius: 50px;
    text-align: left;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--main-color);
}

.pricing-tabs .tab-buttons .boll .round {
    position: relative;
    width: 30px;
    height: 29px;
    border-radius: 50px;
    display: inline-block;
    background-color: #ffffff;
    transition: all 300ms ease;
}

.pricing-tabs .tab-buttons .boll .round.boll-right {
    transform: translateX(45px);
}

.pricing-tabs .tabs-content .tab {
    position: relative;
    display: none;
    transition: all 600ms ease;
    transform: translateY(60px);
}

.pricing-tabs .tabs-content .tab.active-tab {
    display: block;
    transform: translateY(0px);
}

.pricing-tabs .tabs-content .tab .content .guarantee {
    position: relative;
    text-align: center;
    color: #373a5b;
    font-size: 14px;
    font-weight: 500;
}

.pricing-tabs .tabs-content .tab .content .guarantee .circle {
    position: relative;
    width: 18px;
    height: 18px;
    top: 3px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid #2bb852;
}

.pricing-tabs .tabs-content .tab .content .guarantee .circle:before {
    position: absolute;
    content: '';
    left: 5px;
    top: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: #2bb852;
}

/* Price Block One */

.price-block_one {
    position: relative;
    margin-bottom: 30px;
}

.price-block_one-inner {
    position: relative;
    border-radius: 15px;
    padding: 0px 35px 35px;
    background-color: var(--white-color);
    background-position: center top;
    background-repeat: no-repeat;
    border: 2px solid rgba(var(--black-color-rgb), 0.10);
}

.price-block_one-tag {
    position: absolute;
    left: -1px;
    top: -1px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    color: var(--white-color);
    padding: 17px 40px 17px 35px;
    border-radius: 15px 0px 25px 0px;
    background-color: rgba(var(--main-color-rgb), 1);
}

.price-block_one-text {
    position: relative;
    font-size: 18px;
    margin-top: 85px;
    line-height: 30px;
    margin-bottom: 35px;
    color: rgba(var(--black-color-rgb), 0.70);
}

.price-block_one-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 20px;
}

.price-block_one-image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/resource/price-1-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/resource/price-1-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.price-block_one-price {
    position: relative;
    font-size: 64px;
    font-weight: 700;
    line-height: 1em;
    text-align: right;
    margin-bottom: 25px;
    color: var(--color-two);
}

.price-block_one-price sup {
    position: relative;
    font-size: 28px;
    top: -25px;
    line-height: 1em;
    color: var(--main-color);
}

.price-block_one-price span {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 1em;
}

.price-block_one-list {
    position: relative;
}

.price-block_one-list li {
    position: relative;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.price-block_one-list li:before {
    position: absolute;
    content: '\f560';
    left: 0px;
    top: 0px;
    font-weight: 800;
    color: var(--main-color);
    font-family: 'Font Awesome 6 Free';
}

.price-block_one-list li:last-child {
    margin-bottom: 0px;
}

.price-block_one-button {
    position: relative;
    margin-top: 35px;
}

.price-block_one-button a {
    position: relative;
    width: 100%;
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 18px 15px;
    border-radius: 5px;
    color: var(--white-color);
    text-transform: capitalize;
    background-color: var(--main-color);
}

.price-block_one-button a:hover {
    background-color: var(--color-two);
}