/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Choose One
====================================================================

***/

.choose-one {
    position: relative;
    padding-bottom: 70px;
}

.choose-one_pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 280px;
}

.choose-one_shadow {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 955px;
    background-repeat: no-repeat;
}

.choose-one_shadow2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 954px;
    height: 1275px;
    background-repeat: no-repeat;
}

.choose-one_title-column {
    position: relative;
    margin-bottom: 30px;
}

.choose-one_title-outer {
    position: relative;
}

.choose-block_one {
    position: relative;
    margin-bottom: 35px;
}

.choose-block_one-inner {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding-left: 100px;
}

.choose-block_one-inner:hover .choose-block_one-icon {
    animation: swing 1s;
}

.choose-block_one-icon {
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 70px;
    line-height: 1em;
    color: var(--main-color);
    font-family: "flaticon_induxt";
}

.choose-block_one-title {
    position: relative;
    margin-bottom: 10px;
}

.choose-one_options {
    position: relative;
    gap: 30px;
}

.choose-one_options .choose-one_btn {
    height: 60px;
}

.choose-phone_box {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    padding-left: 80px;
    color: var(--color-three);
    text-transform: uppercase;
}

.choose-phone_box .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 62px;
    height: 62px;
    font-size: 24px;
    line-height: 60px;
    border-radius: 50px;
    text-align: center;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.choose-phone_box a {
    position: relative;
    color: var(--black-color);
}

.choose-phone_box a:hover {
    color: var(--main-color);
}

.choose-phone_box i {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.choose-one_image-column {
    position: relative;
}

.choose-one_image-outer {
    position: relative;
}

.choose-one_image {
    position: relative;
    margin-top: 90px;
    overflow: hidden;
    margin-right: -80px;
}

.choose-one_image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/resource/choose-1-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/resource/choose-1-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.choose-one_image .play-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.choose-one_image .play-box:hover .fa {
    color: var(--white-color);
    border-color: var(--black-color);
    background-color: var(--main-color);
}

.choose-one_image .play-box .fa {
    position: relative;
    width: 110px;
    height: 110px;
    margin-top: 3px;
    font-size: 24px;
    line-height: 110px;
    border-radius: 100px;
    display: inline-block;
    color: var(--white-color);
    text-align: center !important;
    background-color: var(--main-color);
}