/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Faq One
====================================================================

***/

.faq-one {
    position: relative;
    padding: 110px 0px 80px;
}

.faq-one_image-column {
    position: relative;
    margin-bottom: 30px;
}

.faq-one_image-outer {
    position: relative;
}

.faq-one_image {
    position: relative;
    display: inline-block;
}

.faq-one_image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/resource/faq-1-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/resource/faq-1-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.faq-one_since {
    position: absolute;
    left: -150px;
    top: 260px;
    line-height: 1em;
    font-size: 30px;
    padding: 15px 60px;
    border-radius: 25px;
    display: inline-block;
    color: var(--white-color);
    text-transform: capitalize;
    transform: rotate(-90deg);
    border: 12px solid var(--white-color);
    background-color: var(--main-color);
    font-family: "Alexandria", sans-serif;
}

.faq-one_since span {
    display: block;
    font-size: 96px;
    line-height: 1em;
}

.faq-one_accordion-column {
    position: relative;
    margin-bottom: 30px;
}

.faq-one_accordion-outer {
    position: relative;
}

/*** 

====================================================================
	Faq Two
====================================================================

***/

.faq-two {
    position: relative;
    padding: 110px 0px 80px;
}

.faq-two .column {
    position: relative;
    margin-bottom: 30px;
}