/* Induxt Industry Business HTML-5 Template */

/* RTL Style CSS Code */

.rtl .row,
.rtl .d-flex {
    flex-direction: row-reverse;
}

.rtl .main-menu .navigation>li {
    float: right;
}

.rtl .sticky-header .logo {
    float: right;
    padding-left: 25px;
}

.rtl .main-menu {
    text-align: right;
}

.rtl .main-header .main-menu .navigation>li>ul>li>ul>li,
.rtl .main-header .main-menu .navigation>li>ul>li,
.rtl .main-menu .navigation>li>ul>li {
    text-align: right;
}

.rtl .main-header .main-menu .navigation>li>ul {
    padding: 20px 25px 20px 25px;
}

.rtl .main-header .main-menu .navigation>li>ul>li>a:before {
    right: 0px;
    left: auto;
    opacity: 0;
}

.rtl .main-menu .navigation>li>ul>li:hover>a {
    padding-left: 0px !important;
    padding-right: 30px;
}

.rtl .main-menu .navigation>li>ul>li>a:before {
    left: auto;
    right: 8px;
}

.rtl .main-menu .navigation>li>ul>li.dropdown>a:after {
    right: auto;
    left: 10px;
    transform: rotate(180deg);
}

.rtl .main-menu .navigation>li>ul>li>ul {
    left: auto;
    right: 100%;
}

.rtl .main-menu .navigation li>ul>li.dropdown:hover>ul {}

.rtl .main-header .main-menu .navigation>li>ul>li>ul {
    right: 100%;
    left: auto;
}

.rtl .main-menu .navigation>li>ul {
    left: auto;
    right: 0px;
}

.rtl .main-menu .navigation>li.dropdown:hover>ul {
    left: auto;
    right: 0px;
}

.rtl .main-menu .navigation>li>ul>li>ul>li:hover>a {
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .main-menu .navigation>li>ul>li>ul>li>a:before {
    left: auto;
    right: 8px;
    opacity: 0;
}

.rtl .main-header .main-menu .navigation>li:first-child {
    margin-right: 0px;
}

.rtl .main-header .main-menu .navigation>li:last-child {
    margin-right: 25px;
}

.rtl .search-popup .form-group input[type="text"],
.rtl .search-popup .form-group input[type="search"] {
    text-align: right;
}

.rtl .about-sidebar .content-box,
.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button {
    text-align: right;
}

.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button {
    right: 0px;
    left: auto;
}

/* .rtl .main-header .header-lower .logo-box .logo{ */

/* border:none; */

/* padding: 25px 0px 25px; */

/* } */

.rtl .about-sidebar_list li {
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .about-sidebar_list li:before {
    right: 0px;
    left: auto;
}

.rtl .about-sidebar .social-box {
    text-align: right;
    margin-right: 35px;
}

.rtl .slider-three_lower:before,
.rtl .testimonial-two .content-outer:after,
.rtl .testimonial-two .content-outer:before,
.rtl .about-one_image-two {
    display: none;
}

.rtl .coming-soon .emailed-form .form-group input[type="submit"],
.rtl .coming-soon .emailed-form button {
    left: 5px;
    right: auto;
}

.rtl .default-form .form-group input[type="text"],
.rtl .default-form .form-group input[type="password"],
.rtl .default-form .form-group input[type="tel"],
.rtl .default-form .form-group input[type="email"],
.rtl .default-form .form-group textarea,
.rtl .coming-soon .emailed-form .form-group input[type="text"],
.rtl .coming-soon .emailed-form .form-group input[type="tel"],
.rtl .coming-soon .emailed-form .form-group input[type="email"],
.rtl .coming-soon .emailed-form .form-group textarea,
.rtl .shipping-form .form-group input[type="text"],
.rtl .shipping-form .form-group input[type="password"],
.rtl .shipping-form .form-group input[type="tel"],
.rtl .shipping-form .form-group input[type="email"],
.rtl .shipping-form .form-group select,
.rtl .shipping-form .form-group textarea,
.rtl .shipping-form .form-group .ui-selectmenu-button.ui-button,
.rtl .contact-form .form-group input[type="text"],
.rtl .contact-form .form-group input[type="password"],
.rtl .contact-form .form-group input[type="tel"],
.rtl .contact-form .form-group input[type="email"],
.rtl .contact-form .form-group select,
.rtl .contact-form .form-group textarea,
.page-wrapper.rtl {
    text-align: right;
}

.rtl .slider-one_content-inner {
    max-width: 100%;
}

.rtl .slider-one_lower {
    margin-top: 25px;
    max-width: 100%;
    margin-left: 0%;
}

.rtl .sec-title_title {
    display: block;
}

.rtl .about-one_count {
    text-align: right;
    padding-left: 0px;
    padding-right: 95px;
}

.rtl .choose-block_one-icon,
.rtl .about-one_count .icon {
    right: 0px;
    left: auto;
}

.rtl .about-one_experiance {
    margin-right: 0px;
    text-align: right;
}

.rtl .service-block_one-arrow {
    left: 10px;
    right: auto;
}

.rtl .choose-one_image {
    margin-right: 0px;
}

.rtl .choose-block_one-inner {
    padding-left: 0px;
    padding-right: 100px;
}

.rtl .choose-phone_box {
    text-align: right;
    padding-left: 0px;
    padding-right: 80px;
}

.rtl .blog-detail_list li:before,
.rtl .project-detail_lists li:before,
.rtl .service-detail_list li:before,
.rtl .privacy-section .privacy-list li:before,
.rtl .price-block_one-list li:before,
.rtl .project-block_four-list li:before,
.rtl .project-block_three-list li:before,
.rtl .about-two_list li:before,
.rtl .footer-contact_list li .icon,
.rtl .choose-phone_box .icon {
    right: 0px;
    left: auto;
}

.rtl .team-one_options {
    margin: 0px;
}

.rtl .testimonial-one .side-icon {
    right: auto;
    left: 0px;
}

.rtl .testimonial_carousel-pagination {
    left: 0px !important;
}

.rtl .team-two .team-two_arrows,
.rtl .project-four .project-four_arrows,
.rtl .project-one .project-one_arrows {
    text-align: left;
}

.rtl .project-block_one-arrow {
    left: 10px;
    right: auto;
}

.rtl .footer-contact_list li {
    padding-left: 0px;
    padding-right: 40px;
}

.rtl .blog-detail_list li,
.rtl .project-detail_lists li,
.rtl .service-detail_list li,
.rtl .privacy-section .privacy-list li,
.rtl .price-block_one-list li,
.rtl .project-block_four-list li,
.rtl .about-two_list li {
    padding-left: 0px;
    padding-right: 30px;
}

.rtl .counter-block_one-content {
    padding-left: 0px;
    padding-right: 250px;
}

.rtl .counter-block_one-icon {
    right: 0px;
    left: auto;
}

.rtl .default-count-box,
.rtl .services-two_list li a span {
    left: 0px;
    right: auto;
}

.rtl .project-block_three-list li {
    padding-left: 0px;
    padding-right: 25px;
}

.rtl .accordion-box .block .icon-outer {
    left: 16px;
    right: auto;
}

.rtl .accordion-box .block .acc-btn {
    padding: 25px 30px 25px 65px;
}

.rtl .testimonial-two .inner-container:before {
    left: 0px;
}

.rtl .testimonial-block_two .quote {
    right: 0px;
}

.rtl .testimonial-two-arrow {
    left: 20px;
}

.rtl .news-block_two-content {
    padding: 28px 0px 0px 30px;
}

.rtl .header-style-three .header-top .inner-container {
    padding-left: 25px;
    padding-right: 280px;
}

.rtl .header-style-three .header-lower .inner-container:before {
    left: 0px;
    right: 210px;
}

.rtl .header-style-three .header-lower .inner-container {
    padding-right: 0px;
    padding-left: 30px;
}

.rtl .service-block_two-inner {
    padding: 110px 30px 30px;
}

.rtl .service-block_three-text {
    padding-right: 0px;
    padding-left: 50px;
}

.rtl .project-four .sec-title_text {
    max-width: 100%;
}

.rtl .team-one_title-outer {
    padding-right: 0px;
}

.rtl .testimonial-block_three-author {
    padding-left: 0px;
    padding-right: 115px;
}

.rtl .testimonial-block_three-author .author-image {
    right: 0px;
    left: auto;
}

.rtl .category-list li span {
    left: 6px;
    right: auto;
}

.rtl .cart-totals li span,
.rtl .order-box .order-total span,
.rtl .project-detail_list li span {
    left: 0px;
    right: auto;
}

.rtl .sidebar .related-posts .post {
    padding-left: 0px;
    padding-right: 150px;
}

.rtl .sidebar .related-posts .post .post-thumb {
    right: 0px;
    left: auto;
}

.rtl .item-quantity {
    margin-right: 0px;
    margin-left: 20px;
}

.rtl .comment-box .comment {
    padding-left: 0px;
    padding-right: 80px;
}

.rtl .comment-box .author-thumb {
    right: 0px;
    left: auto;
}

.rtl .order-totals li span {
    right: auto;
    left: 25px;
}

.rtl .post-widget .post {
    padding-left: 0px;
    padding-right: 160px;
}

.rtl .post-widget .post .thumb {
    right: 0px;
    left: auto;
}

.rtl .sidebar .search-box .form-group input[type="text"],
.rtl .sidebar .search-box .form-group input[type="search"] {
    text-align: right;
    padding-right: 25px;
}

.rtl .sidebar .search-box .form-group button {
    left: 0px;
    right: auto;
}

.rtl .comment-options {
    left: 0px;
    right: auto;
}

.rtl .likes-option {
    left: 0px;
    right: auto;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn {
    left: 0px;
    right: auto;
}

/* Induxt Industry Business HTML-5 Template */

@media only screen and (max-width: 1780px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1550px) {}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1240px) {}

@media only screen and (max-width: 1140px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (max-width: 990px) {
    .rtl .team-one_button {
        margin-bottom: 35px;
    }
    .rtl .cta-one_pattern {
        right: -15px;
    }
    .rtl .project-three-arrow {
        right: 15px;
    }
    .rtl .cta-one .content {
        padding-right: 0px;
    }
    .rtl .cta-one .inner-container::before {
        display: none;
    }
    .rtl .header-style-three .header-lower .inner-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rtl .service-block_three-text {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .rtl .news-block_two-content {
        padding: 25px 15px 25px;
    }
}

@media only screen and (max-width: 599px) {
    .rtl .comment-box .comment,
    .rtl .choose-block_one-inner {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 479px) {
    .rtl .counter-block_one-content {
        padding-right: 0px;
    }
}