/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Team One
====================================================================

***/

.team-one {
    position: relative;
    overflow: hidden;
    padding: 110px 0px 80px;
}

.team-one_bg {
    background-attachment: fixed;
    background-size: cover;
}

.team-one_bg:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.80;
    background-color: var(--color-two);
}

.team-one_vector-image {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.team-one_title-column {
    position: relative;
    z-index: 1;
}

.team-one_title-outer {
    position: relative;
    padding-right: 100px;
}

.team-one_title-column .sec-title {
    margin-bottom: 0px;
}

.team-one_options {
    position: relative;
    margin-top: -30px;
    margin-left: 300px;
}

.team-one_count {
    position: relative;
    font-size: 18px;
    color: var(--white-color);
}

.team-one_count .count {
    position: relative;
    font-weight: 700;
    font-size: 80px;
    line-height: 1em;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: "Raleway", sans-serif;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.team-one_button {
    position: relative;
    margin-top: 30px;
}

/* Team Block One */

.team-block_one {
    position: relative;
    margin-bottom: 30px;
}

.team-block_one-inner {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px 25px 25px;
    background-color: var(--color-two);
}

.team-block_one-image {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 25px 25px 25px;
}

.team-block_one-inner:hover .team-block_one-image::before {
    top: 30%;
}

.team-block_one-image::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 100%;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    background: rgba(var(--black-color-rgb), 0);
    background: linear-gradient(to top, rgba(var(--main-color-rgb), 1) 0%, rgba(var(--white-color-rgb), 0) 100%);
}

.team-block_one-image img {
    position: relative;
    width: 100%;
    display: block;
}

.team-block_one .rotate-text {
    position: absolute;
    right: 0px;
    top: -50px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1em;
    text-align: right;
    white-space: nowrap;
    color: var(--white-color);
    transform: rotate(-90deg);
    transform-origin: bottom right;
    font-family: "Alexandria", sans-serif;
}

.team-block_one .share-box {
    position: absolute;
    left: 55px;
    bottom: 0px;
    z-index: 1;
}

.team-block_one-inner:hover .social-box {
    bottom: 105%;
    opacity: 1;
}

.team-block_one .social-box {
    position: absolute;
    bottom: -130%;
    left: 0px;
    opacity: 0;
    padding: 5px 5px;
    text-align: center;
    border-radius: 50px 50px;
    background-color: var(--color-two);
}

.team-block_one .social-box a {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 3px 0px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
}

.team-block_one .social-box a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.team-block_one .share-box .share:after {
    position: absolute;
    content: '';
    left: -26px;
    bottom: 0px;
    width: 99px;
    height: 55px;
    z-index: -1;
    background: url(../images/icons/team-vector.png) no-repeat;
}

.team-block_one .share-box .share {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: var(--main-color);
    background-color: var(--white-color);
}

.team-block_one-content {
    position: relative;
    padding: 28px 20px 30px 30px;
}

.team-block_one-content:before {
    position: absolute;
    content: '';
    left: 0px;
    top: -50px;
    right: 0px;
    bottom: 0px;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid rgba(var(--white-color-rgb), 0.07);
}

.team-block_one-designation {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: var(--white-color);
    text-transform: capitalize;
}

.team-block_one-title {
    position: relative;
}

.team-block_one-title a {
    position: relative;
    color: var(--white-color);
}

.team-block_one-title a:hover {
    color: var(--main-color);
}

/*** 

====================================================================
	Team Two
====================================================================

***/

.team-two {
    position: relative;
    padding: 110px 0px 80px;
}

.team-two .icon-one {
    position: absolute;
    left: 0px;
    top: 110px;
}

.team-two .icon-two {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.team-two .swiper-pagination-progressbar {
    position: relative;
    bottom: 15px;
    top: auto !important;
    margin: 0 auto;
    width: 200px !important;
    left: auto !important;
    background-color: #dddddd;
}

.team-two .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var(--main-color);
}

.team-two .team-two_arrows {
    position: relative;
    width: 350px;
    z-index: 1;
    margin: 0 auto;
    margin-top: 20px;
}

.team-two .team-two_arrows .team_carousel-prev {
    position: relative;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.team-two .team-two_arrows .team_carousel-next {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.team-two .team-two_arrows .team_carousel-prev:hover,
.team-two .team-two_arrows .team_carousel-next:hover {
    color: var(--main-color);
}

/*** 

====================================================================
	Faq One
====================================================================

***/

.team-detail {
    position: relative;
    padding: 110px 0px 90px;
    background-position: left top;
    background-repeat: no-repeat;
}

.team-detail_image-column {
    position: relative;
    margin-bottom: 30px;
}

.team-detail_image-outer {
    position: relative;
}

.team-detail_image {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
}

.team-detail_image:before {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    left: 30px;
    bottom: 30px;
    border-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.team-detail_image img {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.team-block_detail-shares {
    position: absolute;
    right: 30px;
    top: 30px;
}

.team-block_detail-shares .team-block_detail-share_icon {
    position: relative;
    width: 53px;
    font-size: 22px;
    line-height: 53px;
}

.team-detail_image:hover .team-block_detail-share_icon {
    color: var(--white-color);
    background-color: var(--black-color);
}

.team-block_detail-share_icon {
    position: relative;
    width: 54px;
    height: 54px;
    z-index: 10;
    font-size: 24px;
    line-height: 54px;
    border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--main-color);
}

.team-detail_image:hover .team-block_detail-socials {
    top: 100%;
    opacity: 1;
}

.team-block_detail-socials {
    position: absolute;
    right: 2px;
    top: -150%;
    width: 50px;
    z-index: 1;
    opacity: 0;
    padding: 10px 0px;
    text-align: center;
    border-radius: 50px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    background-color: var(--white-color);
}

.team-block_detail-socials a {
    position: relative;
    font-size: 16px;
    display: block;
    width: 40px;
    height: 40px;
    margin: 1px 0px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 50px;
    color: var(--black-color);
}

.team-block_detail-socials a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.team-detail_tag {
    position: relative;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--main-color);
}

.team-detail_title {
    position: relative;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black-color);
}

.team-detail p {
    position: relative;
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    margin-bottom: 15px;
}

.team-detail_info-outer {
    position: relative;
    margin-top: 30px;
}

.team-detail_info {
    position: relative;
}

.team-detail_info li {
    position: relative;
    display: block;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    margin-bottom: 30px;
}

.team-detail_info li span {
    position: relative;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--black-color);
    font-family: "Lexend Deca", sans-serif;
}

.team-detail .lower-box {
    position: relative;
    margin-top: 40px;
}

.team-detail .lower-box h3 {
    position: relative;
    margin-bottom: 20px;
}

/*** 

====================================================================
	Team Tabs Style
====================================================================

***/

.team-tabs {
    position: relative;
    margin-top: 30px;
}

.team-tabs .tab-btns {
    position: relative;
}

.team-tabs .tab-btns .tab-btn {
    position: relative;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 36px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 50px;
    display: inline-block;
    transition: all 500ms ease;
    text-transform: capitalize;
    background-color: #F5F5F5;
    color: var(--black-color);
}

.team-tabs .tab-btns .tab-btn:last-child {
    margin-right: 0px;
}

.team-tabs .tab-btns .tab-btn:hover,
.team-tabs .tab-btns .tab-btn.active-btn {
    color: var(--white-color);
    background-color: var(--main-color);
}

.team-tabs .tabs-content {
    position: relative;
    padding: 30px 0px 0px;
}

.team-tabs .tabs-content .tab {
    position: relative;
    display: none;
    border-top: 0px;
}

.team-tabs .tabs-content .tab.active-tab {
    display: block;
}

.team-detail_contact {
    position: relative;
    margin-top: 60px;
    border-radius: 10px;
    padding: 35px 35px 50px;
    border: 1px solid rgba(var(--black-color-rgb), 0.15);
}