/* Induxt Industry Business HTML-5 Template */

/* Want Sticky Header */

.want-sticky-header .main-header .sticky-header {
    position: relative;
    display: none;
}

/* Dark Version Style CSS Code */

.dark-body,
.dark-body .service-block_three-inner,
.dark-body .project-one_bg,
.dark-body .testimonial-block_three-rating,
.dark-body .service-block_one-content {
    background-color: #0b0b0b;
}

.dark-body .page-title:after,
.dark-body .page-title:before,
.dark-body .project-four_bg:before,
.dark-body .testimonial-two .content-outer:after,
.dark-body .testimonial-two .content-outer:before,
.dark-body .cta-one .inner-container:before,
.dark-body .project-block_three-inner:before {
    background-color: #0b0b0b;
}

.dark-body .news-block_one-inner,
.dark-body .reply-comment,
.dark-body .blog-three,
.dark-body .service-four,
.dark-body .process-one,
.dark-body .service-one:before,
.dark-body .about-sidebar,
.dark-body .styled-pagination li a,
.dark-body .price-block_one-inner,
.dark-body .shop-item .inner-box .image,
.dark-body .shop-detail_gallery-column .thumb,
.dark-body .sidebar .related-posts .post .post-thumb,
.dark-body .testimonial-block_three-inner::before,
.dark-body .main-header.header-style-two.fixed-header .header-lower,
.dark-body .header-style-two .header-lower .inner-container {
    background-color: #2c2c2f;
}

.dark-body .service-block_two-text {
    color: #0b0b0b;
}

.dark-body .contact-info_block-inner h4,
.dark-body .contact-info_text,
.dark-body .contact-info_box h3,
.dark-body .error-one h2,
.dark-body .error-one_text,
.dark-body .dark-body .popular-tags a,
.dark-body .popular-tags a,
.dark-body .comment-form .group-title h4,
.dark-body .comment-options li a,
.dark-body .likes-option li,
.dark-body .comment-reply,
.dark-body .comment-box .comment-time,
.dark-body .comments-area .group-title h4,
.dark-body .blog-more_posts h5,
.dark-body .blog-more_posts .title,
.dark-body .post-share-options .social-links a,
.dark-body .post-share-options .social-links span,
.dark-body .post-share-options .post-tags a,
.dark-body .post-share-options .post-tags strong,
.dark-body .blog-detail h3,
.dark-body .blog-detail_meta li:last-child,
.dark-body .blog-detail_meta li,
.dark-body .blog-detail_title,
.dark-body .post-widget .post .post-date,
.dark-body .post-widget .post h5 a,
.dark-body .news-block_one-text,
.dark-body .coming-soon .emailed-form .text,
.dark-body .coming-soon .emailed-form h3,
.dark-body .register-one h3,
.dark-body .shipping-form .check-box label,
.dark-body .order-box .order-total,
.dark-body .order-totals li span,
.dark-body .checkout-section h4,
.dark-body .shipping-list li,
.dark-body .shoping-cart-section .check-box label,
.dark-body .cart-totals li,
.dark-body .shoping-cart-section .total-column .title-box h6,
.dark-body .cart-table tbody tr td.sub-total,
.dark-body .cart-table thead tr th,
.dark-body .cart-table tbody tr td.price,
.dark-body .cart-table .prod-text,
.dark-body .cart-table .prod-title,
.dark-body .cart-table thead tr th.prod-column,
.dark-body .related-products h3,
.dark-body .comment-box .text,
.dark-body .comment-box .comment-info,
.dark-body .prod-tabs .tabs-content .tab .title,
.dark-body .related-products h3,
.dark-body .prod-tabs .tabs-content p,
.dark-body .shop-detail_socials li a,
.dark-body .shop-detail_socials .share,
.dark-body .shop-detail_list li,
.dark-body .shop-detail_list li span,
.dark-body .quantity-box .item-quantity input.qty-spinner,
.dark-body .quantity-box .bootstrap-touchspin .glyphicon-chevron-up:before,
.dark-body .quantity-box .bootstrap-touchspin .glyphicon-chevron-down:before,
.dark-body .shop-detail_text,
.dark-body .shop-detail_rating i,
.dark-body .shop-detail_rating .fa-star,
.dark-body .shop-detail_price,
.dark-body .shop-detail_title,
.dark-body .shop-section .items-sorting .total-items,
.dark-body .shop-section .lower-text .products,
.dark-body .shop-item .inner-box .lower-content .price,
.dark-body .shop-item .inner-box .lower-content h3 a,
.dark-body .sidebar .related-posts .post h4 a,
.dark-body .shop-cat li a,
.dark-body .project-detail h4,
.dark-body .project-detail_list li,
.dark-body .project-detail .bold-text,
.dark-body .project-detail .title,
.dark-body .service-detail_subtitle,
.dark-body .category-list li a,
.dark-body .sidebar-title h4,
.dark-body .service-detail_title,
.dark-body .team-detail_subtext,
.dark-body .default-count-box,
.dark-body .default-skill-title,
.dark-body .team-detail .lower-box h3,
.dark-body .team-detail_info li,
.dark-body .team-detail_info li span,
.dark-body .team-detail p,
.dark-body .team-detail_title,
.dark-body .privacy-section .privacy-list li,
.dark-body .privacy-section h4,
.dark-body .privacy-section h3,
.dark-body .testimonial-block_three-author span,
.dark-body .testimonial-block_three-author,
.dark-body .testimonial-block_three-text,
.dark-body .testimonial-block_three-heading,
.dark-body .price-block_one-price,
.dark-body .price-block_one-text,
.dark-body .project-four .project-four_arrows .project_carousel-two-next,
.dark-body .project-four .project-four_arrows .project_carousel-two-prev,
.dark-body .team-two .team-two_arrows .team_carousel-prev,
.dark-body .team-two .team-two_arrows .team_carousel-next,
.dark-body .service-block_three-title a,
.dark-body .about-three_title,
.dark-body .about-two_more,
.dark-body .about-two_title,
.dark-body .slider-two_text,
.dark-body .slider-two_heading,
.dark-body .main-header.header-style-two .main-menu .navigation>li>a,
.dark-body .header-top .social-box a,
.dark-body .header-info_list li a,
.dark-body .news-block_one-date,
.dark-body .news-block_one-title a,
.dark-body .news-block_one-meta li,
.dark-body .project-one .project-one_arrows .project_carousel-prev,
.dark-body .project-one .project-one_arrows .project_carousel-next,
.dark-body .process-one .lower-box .text,
.dark-body .process-block_one-title,
.dark-body .process-block_one-number,
.dark-body .testimonial_carousel-pagination,
.dark-body .testimonial-block_one-author,
.dark-body .testimonial-block_one-text,
.dark-body .choose-phone_box,
.dark-body .choose-phone_box a,
.dark-body .choose-block_one-title,
.dark-body .service-block_one-title a,
.dark-body .about-one_bold,
.dark-body .sec-title_heading {
    color: var(--white-color);
}

.dark-body .slider-two_pattern,
.dark-body .choose-one_pattern-layer {
    opacity: 0.10;
}

.dark-body .project-one_vector,
.dark-body .process-one_vector,
.dark-body .testimonial-one_bg {
    opacity: 0;
}

.dark-body .comments-area {
    background-color: rgba(var(--white-color-rgb), 0.05);
}

.dark-body .marketing-one .animation_mode h1 {
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 0.30);
}

.dark-body .project-detail_list li span,
.dark-body .project-detail .text,
.dark-body .about-two_count sup,
.dark-body p,
.dark-body .sec-title_text,
.dark-body .text,
.dark-body .process-block_one-text,
.dark-body .about-one_text {
    opacity: 0.80;
    color: var(--white-color);
}

.dark-body .post-widget .post,
.dark-body .order-totals li,
.dark-body .register-one .form-column .inner-column,
.dark-body .cart-table tbody tr .prod-column .column-box .prod-thumb,
.dark-body .cart-table tbody tr,
.dark-body .shipping-outer .cart-shipping-box,
.dark-body .shipping-list li,
.dark-body .cart-total-box,
.dark-body .item-quantity,
.dark-body .popular-tags a,
.dark-body .team-detail_contact,
.dark-body .about-two_more,
.dark-body .project-detail_list li,
.dark-body .category-list li a,
.dark-body .post-share-options,
.dark-body .shop-detail_socials li a,
.dark-body .shop-detail_gallery-column .thumb,
.dark-body .shop-section .lower-text .products,
.dark-body .privacy-section .privacy-content,
.dark-body .post-share-options .post-tags a,
.dark-body .shop-detail .prod-tabs .tab-btns::before,
.dark-body .header-style-two .header-lower .inner-container,
.dark-body .header-style-two .header-top .inner-container,
.dark-body .process-one .lower-box .text {
    border-color: rgba(var(--white-color-rgb), 0.30);
}

.dark-body .shop-item .inner-box .lower-content .cart,
.dark-body .main-header.header-style-two .header-lower .logo {
    filter: invert(100%);
}

.dark-body .blog-more_posts::before,
.dark-body .slider-two_text:before,
.dark-body .clock-second,
.dark-body .clock-minute,
.dark-body .clock-hour,
.dark-body .click-indicator div>span {
    background-color: var(--white-color);
}

.dark-body .process-one.style-two {
    padding-top: 110px;
}