/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Slider One
====================================================================

***/

.slider-one {
    position: relative;
}

.slider-one_pattern {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 649px;
    height: 769px;
    background-repeat: no-repeat;
}

.slider-one_pattern2 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    width: 480px;
    height: 1059px;
    background-position: right top;
    background-repeat: no-repeat;
}

.slider-one-arrow {
    position: absolute;
    left: 0px;
    top: 50%;
    right: 0px;
}

.slider-one:hover .slider-one-arrow {
    opacity: 1;
}

.slider-one .main-slider-prev {
    position: relative;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-one .main-slider-prev:hover {
    color: var(--main-color);
    background-color: var(--white-color);
}

.slider-one .main-slider-next:hover {
    color: var(--main-color);
    background-color: var(--white-color);
}

.slider-one .main-slider-next::after,
.slider-one .main-slider-prev::after {
    display: none;
}

.slider-one .main-slider-next {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-one .swiper-slide {
    position: relative;
    padding: 350px 0px 220px;
}

.slider-one_image-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    border-radius: 0px;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.slider-one_image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.60;
    background-color: var(--black-color);
}

.slider-one .swiper-slide-active .slider-one_image-layer {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slider-one_content {
    position: relative;
    z-index: 2;
    padding-top: 0px;
}

.slider-one_content-inner {
    position: relative;
    max-width: 960px;
}

.slider-one_title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 40px;
    letter-spacing: 1px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--main-color);
}

.slider-one .swiper-slide-active .slider-one_title {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.slider-one_heading {
    margin-top: 40px;
    color: var(--white-color);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one_heading span {
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.slider-one_heading strong {
    color: var(--main-color);
}

.slider-one .swiper-slide-active .slider-one_heading {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -ms-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 35px;
    color: var(--white-color);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one .swiper-slide-active .slider-one_text {
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -ms-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one .slider-one_button {
    position: relative;
    gap: 15px;
    display: inline-block;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-one_video {
    position: relative;
}

.slider-one .swiper-slide-active .slider-one_button {
    -webkit-transition-delay: 1400ms;
    -moz-transition-delay: 1400ms;
    -ms-transition-delay: 1400ms;
    -o-transition-delay: 1400ms;
    transition-delay: 1400ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-one_lower {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin-top: -30px;
    margin-left: 60%;
}

.slider-one_big-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 500px;
    z-index: 2;
    opacity: 0.20;
    font-size: 240px;
    color: transparent;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    font-family: "Alexandria", sans-serif;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

/* Play Box */

.slider-one .play-box {
    position: relative;
}

.slider-one .play-box:hover .fa {
    color: var(--white-color);
    border-color: var(--black-color);
    background-color: var(--main-color);
}

.slider-one .play-box .fa {
    position: relative;
    width: 62px;
    height: 62px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 54px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    text-align: center !important;
    border: 6px solid var(--white-color);
    background-color: var(--main-color);
}

/* Slider Socials Box */

.slider-one_socials {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    padding: 25px 30px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(var(--white-color-rgb), 0.15);
}

.slider-one_socials a {
    position: relative;
    font-size: 14px;
    margin: 0px 15px;
    text-transform: capitalize;
    color: var(--white-color);
}

.slider-one_socials a::before {
    position: absolute;
    content: '-';
    right: -20px;
    font-size: 24px;
    color: var(--white-color);
}

.slider-one_socials a:hover {
    color: var(--main-color);
}

.slider-one_socials a:last-child::before {
    display: none;
}

.slider-one_options {
    position: absolute;
    right: 45px;
    bottom: 25px;
    z-index: 10;
    border-radius: 150px;
    background-color: var(--white-color);
}

.slider-one_authors {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    border-radius: 100px;
    padding: 20px 40px 20px 20px;
}

.slider-one_authors ul {
    position: relative;
    display: flex;
    margin-left: 20px;
}

.slider-one_authors ul li {
    position: relative;
    width: 54px;
    height: 54px;
    margin-left: -20px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid var(--white-color);
}

.slider-one_reviews {
    position: relative;
    font-weight: 800;
    font-size: 26px;
    color: var(--black-color);
}

.slider-one_reviews span {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}

/*** 

====================================================================
	Slider Two
====================================================================

***/

.slider-two {
    position: relative;
}

.slider-two .outer-container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}

.slider-two_pattern {
    position: absolute;
    left: 100px;
    z-index: 2;
    top: 320px;
    width: 273px;
    height: 350px;
    background-repeat: no-repeat;
}

.slider-two_pattern2 {
    position: absolute;
    right: 0px;
    bottom: 200px;
    z-index: 2;
    width: 478px;
    height: 432px;
    background-repeat: no-repeat;
}

.slider-two .side-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.slider-two-arrow {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.slider-two .main-slider-prev {
    position: relative;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-two .main-slider-prev:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.slider-two .main-slider-next:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.slider-two .main-slider-next::after,
.slider-two .main-slider-prev::after {
    display: none;
}

.slider-two .main-slider-next {
    position: relative;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-two .swiper-slide {
    position: relative;
    padding: 350px 0px 220px;
}

.slider-two_content {
    position: relative;
    z-index: 2;
    padding-top: 0px;
}

.slider-two_content-inner {
    position: relative;
    max-width: 1050px;
}

.slider-two_title {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 40px;
    letter-spacing: 1px;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    text-transform: uppercase;
    background-color: var(--main-color);
}

.slider-two .swiper-slide-active .slider-two_title {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.slider-two_heading {
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--color-two);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two_heading span {
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

.slider-two_heading strong {
    color: var(--main-color);
}

.slider-two .swiper-slide-active .slider-two_heading {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -ms-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two_text {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 150px;
    color: var(--color-two);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two_text:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 15px;
    width: 120px;
    height: 2px;
    opacity: 0.20;
    background-color: var(--color-two);
}

.slider-two .swiper-slide-active .slider-two_text {
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -ms-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two .slider-two_button {
    position: relative;
    padding-left: 150px;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-two .swiper-slide-active .slider-two_button {
    -webkit-transition-delay: 1400ms;
    -moz-transition-delay: 1400ms;
    -ms-transition-delay: 1400ms;
    -o-transition-delay: 1400ms;
    transition-delay: 1400ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-two_lower {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin-top: -30px;
    margin-left: 60%;
}

/*** 

====================================================================
	Slider Three
====================================================================

***/

.slider-three {
    position: relative;
}

.slider-three .vector-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
}

.slider-three_pattern {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 921px;
    height: 768px;
    background-repeat: no-repeat;
}

.slider-three_pattern2 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    width: 574px;
    height: 468px;
    background-position: right top;
    background-repeat: no-repeat;
}

.slider-three-arrow {
    position: absolute;
    left: 0px;
    top: 50%;
    right: 0px;
}

.slider-three:hover .slider-three-arrow {
    opacity: 1;
}

.slider-three .main-slider-prev {
    position: relative;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-three .main-slider-prev:hover {
    color: var(--main-color);
    background-color: var(--white-color);
}

.slider-three .main-slider-next:hover {
    color: var(--main-color);
    background-color: var(--white-color);
}

.slider-three .main-slider-next::after,
.slider-three .main-slider-prev::after {
    display: none;
}

.slider-three .main-slider-next {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    width: 73px;
    height: 72px;
    font-size: 24px;
    cursor: pointer;
    line-height: 72px;
    text-align: center;
    display: inline-block;
    color: var(--main-color);
    background-color: rgba(var(--main-color-rgb), 0.30);
}

.slider-three .swiper-slide {
    position: relative;
    padding: 350px 0px 220px;
}

.slider-three_image-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    border-radius: 0px;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.slider-three_image-layer:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.60;
    background-color: var(--black-color);
}

.slider-three .swiper-slide-active .slider-three_image-layer {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slider-three_content {
    position: relative;
    z-index: 20;
    padding-top: 0px;
}

.slider-three_content-inner {
    position: relative;
    max-width: 840px;
}

.slider-three_heading {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--white-color);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-three_heading span {
    position: relative;
    color: var(--main-color);
}

.slider-three_heading span:before {
    position: absolute;
    content: '';
    left: 40px;
    top: 5px;
    width: 330px;
    height: 113px;
    z-index: -1;
    background: url(../images/main-slider/circle.png);
    background-repeat: no-repeat;
}

.slider-three .swiper-slide-active .slider-three_heading {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -ms-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-three_text {
    max-width: 550px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--white-color);
    text-transform: capitalize;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-three .swiper-slide-active .slider-three_text {
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -ms-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-three .slider-three_button {
    position: relative;
    gap: 15px;
    display: inline-block;
    transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.slider-three_video {
    position: absolute;
    right: 150px;
    top: 70px;
}

.slider-three .swiper-slide-active .slider-three_button {
    -webkit-transition-delay: 1400ms;
    -moz-transition-delay: 1400ms;
    -ms-transition-delay: 1400ms;
    -o-transition-delay: 1400ms;
    transition-delay: 1400ms;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slider-three_lower {
    position: relative;
}

.slider-three_lower:before {
    position: absolute;
    content: '';
    right: -120px;
    bottom: 90px;
    width: 183px;
    height: 153px;
    background: url(../images/main-slider/arrow.png);
    background-repeat: no-repeat;
}

.slider-three_big-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 500px;
    z-index: 2;
    opacity: 0.20;
    font-size: 240px;
    color: transparent;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    font-family: "Alexandria", sans-serif;
    -webkit-text-stroke-color: rgba(var(--white-color-rgb), 1);
}

/* Play Box */

.slider-three .play-box {
    position: relative;
}

.slider-three .play-box:hover .fa {
    color: var(--white-color);
    border-color: var(--black-color);
    background-color: var(--main-color);
}

.slider-three .play-box .fa {
    position: relative;
    width: 126px;
    height: 126px;
    margin-top: 3px;
    font-size: 24px;
    line-height: 126px;
    border-radius: 150px;
    display: inline-block;
    color: var(--white-color);
    text-align: center !important;
    border-right: 6px solid var(--main-color);
    background-color: var(--color-two);
}

.slider-three .play-box .ripple,
.slider-three .play-box .ripple:before,
.slider-three .play-box .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124px;
    height: 124px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.slider-three .play-box .ripple:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
}

.slider-three .play-box .ripple:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
}