/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Clients One
====================================================================

***/

.clients-one {
    position: relative;
    padding: 100px 0px 100px;
}

.clients-one .inner-container {
    position: relative;
}

.clients-one .client-image {
    position: relative;
    text-align: center;
}

.clients-one .client-image img {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.clients-one .client-image img:hover {
    opacity: 0.70;
    filter: grayscale(100%) brightness(0);
}