/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	Process One
====================================================================

***/

.process-one {
    position: relative;
    padding: 130px 0px 110px;
}

.process-one.style-two {
    padding-top: 0px;
}

.process-one_vector {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 562px;
    height: 417px;
    background-repeat: no-repeat;
}

.process-one .lower-box {
    position: relative;
    margin-top: 30px;
}

.process-one .lower-box .text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 50px;
    display: inline-block;
    color: var(--color-three);
    border: 1px solid rgba(var(--black-color-rgb), 0.15);
}

.process-one .lower-box .text a {
    position: relative;
    font-weight: 700;
    color: var(--main-color);
}

.process-one .auto-container {
    position: relative;
    max-width: 1100px;
}

.process-one .process-block_one:nth-child(3) .process-block_one-number,
.process-one .process-block_one:nth-child(4) .process-block_one-number {
    left: 20px;
    top: auto;
    bottom: 5px;
}

.process-one .process-block_one:nth-child(3) .process-block_one-inner,
.process-one .process-block_one:nth-child(4) .process-block_one-inner {
    text-align: right;
    flex-direction: row-reverse;
}

.process-one .process-block_one:nth-child(3) .process-block_one-image img,
.process-one .process-block_one:nth-child(4) .process-block_one-image img {
    -webkit-mask-image: url(../images/resource/process-2-2.png);
    mask-image: url(../images/resource/process-2-2.png);
}

.process-one .process-block_one:nth-child(3) .process-block_one-image:before {
    top: -25px;
    bottom: auto;
    background: url(../images/icons/arrow-2.png) no-repeat;
}

.process-one .process-block_one:nth-child(4) .process-block_one-image:before {
    display: none;
}

.process-block_one {
    position: relative;
    margin-bottom: 40px;
}

.process-block_one-inner {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.process-block_one-image {
    position: relative;
    border-radius: 20px;
}

.process-block_one-image:before {
    position: absolute;
    content: '';
    right: -80px;
    bottom: -45px;
    width: 106px;
    height: 88px;
    background: url(../images/icons/arrow.png) no-repeat;
}

.process-block_one-image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/resource/process-1-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/resource/process-1-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.process-block_one-number {
    position: absolute;
    left: 22px;
    top: 5px;
    line-height: 1em;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-two);
    font-family: "Alexandria", sans-serif;
}

.process-block_one-content {
    position: relative;
}

.process-block_one-title {
    position: relative;
}

.process-block_one-title a {
    position: relative;
    color: var(--color-two);
}

.process-block_one-text {
    position: relative;
    margin-top: 8px;
    color: var(--color-three);
}