/* Induxt Industry Business HTML-5 Template */

/*** 

====================================================================
	project One
====================================================================

***/

.project-one {
    position: relative;
    padding: 110px 0px 110px;
}

.project-one_vector {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 446px;
    background-repeat: repeat-x;
}

.project-one_bg {
    border-radius: 25px;
    background-color: #F5F5F5;
}

.project-block_one {
    position: relative;
}

.project-block_one-inner {
    position: relative;
}

.project-block_one-image {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.project-block_one-image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/gallery/project-1-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/gallery/project-1-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.project-block_one-content {
    position: relative;
    max-width: 555px;
    padding: 30px 40px;
    margin-left: 100px;
    margin-top: -88px;
    margin-right: 40px;
    border-radius: 25px;
    background-color: var(--white-color);
}

.project-block_one-title {
    position: relative;
}

.project-block_one-title a {
    position: relative;
    color: var(--color-two);
}

.project-block_one-title a:hover {
    color: var(--main-color);
}

.project-block_one-text {
    position: relative;
    margin-top: 15px;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-two);
}

.project-block_one-arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: var(--white-color);
    font-family: "flaticon_induxt";
    background-color: var(--main-color);
}

.project-block_one-arrow:hover {
    color: var(--white-color);
    background-color: var(--color-two);
}

.project-one .swiper-pagination-progressbar {
    position: absolute;
    right: 78px;
    bottom: 150px;
    top: auto !important;
    width: 200px !important;
    left: auto !important;
    background-color: var(--white-color);
}

.project-one .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var(--main-color);
}

.project-one .project-one_arrows {
    position: absolute;
    right: 0px;
    bottom: 140px;
    width: 350px;
    z-index: 1;
}

.project-one .project-one_arrows .project_carousel-prev {
    position: relative;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.project-one .project-one_arrows .project_carousel-next {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.project-one .project-one_arrows .project_carousel-prev:hover,
.project-one .project-one_arrows .project_carousel-next:hover {
    color: var(--main-color);
}

/*** 

====================================================================
	project  Two
====================================================================

***/

.project-two {
    position: relative;
    z-index: 10;
    margin-top: -102px;
}

.project-block_two {
    position: relative;
}

.project-block_two-inner {
    position: relative;
    overflow: hidden;
}

.project-block_two-image {
    position: relative;
}

.project-block_two-image:before {
    position: absolute;
    content: '';
    left: 0px;
    top: -30px;
    right: 0px;
    height: 0%;
    opacity: 0;
    z-index: 1;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transform: skewY(-10deg);
    background-color: var(--main-color);
    border-bottom: 15px solid var(--white-color);
}

.project-block_two-inner:hover .project-block_two-image:before {
    opacity: 1;
    height: 90%;
}

.project-block_two-inner:hover .project-block_two-plus {
    opacity: 1;
}

.project-block_two-image img {
    position: relative;
    width: 100%;
    display: block;
}

.project-block_two-plus {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: 10;
    font-size: 28px;
    color: var(--white-color);
    transform: translateX(-50%) translateY(-50%);
}

/*** 

====================================================================
	FullWidth Two
====================================================================

***/

.fullwidth-one {
    position: relative;
    overflow: hidden;
}

.fullwidth-one .outer-container {
    position: relative;
}

.fullwidth-one .image {
    position: relative;
    overflow: hidden;
    clip-path: polygon(43% 0, 60% 0, 61% 100%, 43% 100%);
}

.fullwidth-one .image.now-in-view {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.fullwidth-one .image img {
    position: relative;
    width: 100%;
    display: block;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/*** 

====================================================================
	project Three
====================================================================

***/

.project-three {
    position: relative;
    padding: 110px 0px 0px;
}

.project-three .outer-container {
    position: relative;
}

.project-three .auto-container {
    position: relative;
}

.project-three .swiper-container {
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 120px;
    margin-top: -120px;
}

.project-three-arrow {
    position: absolute;
    right: 60px;
    top: 0px;
    z-index: 10;
}

.project-three-arrow .four-item_slider-prev,
.project-three-arrow .four-item_slider-next {
    position: relative;
    width: 54px;
    height: 54px;
    font-size: 20px;
    margin-left: 10px;
    line-height: 54px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: var(--color-two);
    border: 1px solid var(--color-two);
}

.project-three-arrow .four-item_slider-prev:hover,
.project-three-arrow .four-item_slider-next:hover {
    color: var(--white-color);
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.project-block_three {
    position: relative;
}

.project-block_three-inner {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.project-block_three-image {
    position: relative;
}

.project-block_three-image img {
    position: relative;
    width: 100%;
    display: block;
}

.project-block_three-inner:before {
    position: absolute;
    content: '';
    left: -1px;
    top: 0px;
    z-index: 10;
    width: 219px;
    height: 75px;
    /* background:url(../images/icons/vector-1.png) no-repeat; */
    -webkit-mask: url(../images/icons/vector-1.png) no-repeat center/contain;
    mask: url(../images/icons/vector-1.png) no-repeat center/contain;
    background-color: #ffffff;
}

.project-block_three-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

.project-block_three-inner:hover .project-block_three-overlay {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.project-block_three-overlay:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.80;
    background-color: var(--color-two);
}

.project-block_three-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
}

.project-block_three-tag {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--white-color);
    text-transform: uppercase;
}

.project-block_three-title {
    position: relative;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.project-block_three-title a {
    position: relative;
    color: var(--white-color);
}

.project-block_three-list {
    position: relative;
    margin-bottom: 30px;
}

.project-block_three-list li {
    position: relative;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
    color: var(--white-color);
}

.project-block_three-list li:before {
    position: absolute;
    content: '\f560';
    left: 0px;
    top: 0px;
    font-weight: 800;
    color: var(--main-color);
    font-family: 'Font Awesome 6 Free';
}

.project-block_three-list li:last-child {
    margin-bottom: 0px;
}

/*** 

====================================================================
	project Four
====================================================================

***/

.project-four {
    position: relative;
    padding: 0px 0px 110px;
}

.project-four .sec-title_title {
    color: var(--white-color);
}

.project-four .sec-title_text {
    max-width: 360px;
}

.project-four .auto-container {
    position: relative;
    max-width: 1800px;
}

.project-four_title-column {
    position: relative;
    margin-bottom: 30px;
}

.project-four_title-outer {
    position: relative;
    padding: 140px 100px 100px 0px;
}

.project-four_blocks-column {
    position: relative;
}

.project-four_blocks-outer {
    position: relative;
    margin-left: -100px;
    padding-top: 30px;
}

.project-four_bg {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 150%;
    border-radius: 25px;
    background-repeat: repeat-x;
}

.project-four_bg:before {
    position: absolute;
    content: '';
    right: -1px;
    top: 0px;
    width: 239px;
    height: 79px;
    /* background:url(../images/icons/vector-7.png) no-repeat; */
    -webkit-mask: url(../images/icons/vector-7.png) no-repeat center/contain;
    mask: url(../images/icons/vector-7.png) no-repeat center/contain;
    background-color: #ffffff;
}

.project-four_bg:after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -1px;
    z-index: 1;
    width: 169px;
    height: 79px;
    background: url(../images/icons/vector-8.png) no-repeat;
}

/* Paginations */

.project-four .swiper-pagination-progressbar {
    position: relative;
    bottom: 15px;
    top: auto !important;
    margin: 0 auto;
    width: 200px !important;
    left: auto !important;
    background-color: #dddddd;
}

.project-four .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var(--main-color);
}

/* Arrows */

.project-four .project-four_arrows {
    position: relative;
    width: 350px;
    z-index: 1;
    margin: 0 auto;
    margin-top: 20px;
}

.project-four .project-four_arrows .project_carousel-two-prev {
    position: relative;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.project-four .project-four_arrows .project_carousel-two-next {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-three);
}

.project-four .project-four_arrows .project_carousel-two-prev:hover,
.project-four .project-four_arrows .project_carousel-two-next:hover {
    color: var(--main-color);
}

/* Project Block Four */

.project-block_four {
    position: relative;
    margin-bottom: 30px;
}

.project-block_four-inner {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.project-block_four-image {
    position: relative;
}

.project-block_four-image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/gallery/6-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/gallery/6-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.project-block_four-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

.project-block_four-inner:hover .project-block_four-overlay {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.project-block_four-content:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.80;
    border-radius: 35px 0px 0px 35px;
    background-color: var(--color-two);
}

.project-block_four-content {
    position: relative;
    padding: 60px 30px;
    max-width: 360px;
}

.project-block_four-tag {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--white-color);
    text-transform: uppercase;
}

.project-block_four-title {
    position: relative;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.project-block_four-title a {
    position: relative;
    color: var(--white-color);
}

.project-block_four-title a:hover {
    color: var(--main-color);
}

.project-block_four-list {
    position: relative;
    margin-bottom: 30px;
}

.project-block_four-list li {
    position: relative;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
    color: var(--white-color);
}

.project-block_four-list li:before {
    position: absolute;
    content: '\f560';
    left: 0px;
    top: 0px;
    font-weight: 800;
    color: var(--main-color);
    font-family: 'Font Awesome 6 Free';
}

.project-block_four-list li:last-child {
    margin-bottom: 0px;
}

/*** 

====================================================================
	project Five
====================================================================

***/

.project-five {
    position: relative;
    padding: 110px 0px 210px;
}

.project-five .project-block_three {
    margin-bottom: 30px;
}

.project-five_button {
    position: relative;
    margin-top: 25px;
}

.project-five_pattern {
    background-position: left bottom;
    background-repeat: no-repeat;
}

/*** 

====================================================================
	Project Detail
====================================================================

***/

.project-detail {
    position: relative;
    padding: 110px 0px 220px;
}

.project-detail_pattern {
    background-position: left bottom;
    background-repeat: no-repeat;
}

.project-detail_image {
    position: relative;
    margin-bottom: 40px;
}

.project-detail_image img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/gallery/11-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/gallery/11-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.project-detail_video {
    position: relative;
    margin-top: 70px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 70px;
}

.project-detail_video img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/resource/video-2-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/resource/video-2-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.project-detail_video .play-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.project-detail_video .play-box .fa {
    position: relative;
    width: 126px;
    height: 126px;
    margin-top: 3px;
    font-size: 24px;
    line-height: 126px;
    border-radius: 150px;
    display: inline-block;
    color: var(--white-color);
    text-align: center !important;
    border-right: 6px solid var(--main-color);
    background-color: var(--color-two);
}

.project-detail_video .play-box .fa:hover {
    border-color: var(--white-color);
    background-color: var(--main-color);
}

.project-detail_video .play-box .ripple,
.project-detail_video .play-box .ripple:before,
.project-detail_video .play-box .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124px;
    height: 124px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.project-detail_video .play-box .ripple:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
}

.project-detail_video .play-box .ripple:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
}

.project-detail .bold-text {
    position: relative;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
    color: var(--color-two);
}

.project-detail .text {
    position: relative;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
    color: var(--color-three);
}

.project-detail_list {
    position: relative;
}

.project-detail_list li {
    position: relative;
    padding: 20px 0px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-two);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.project-detail_list li span {
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-three);
}

/* Project Detail List */

.project-detail_lists {
    position: relative;
    margin-top: 20px;
}

.project-detail_lists li {
    position: relative;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.project-detail_lists li:before {
    position: absolute;
    content: '\f560';
    left: 0px;
    top: 0px;
    font-weight: 800;
    color: var(--main-color);
    font-family: 'Font Awesome 6 Free';
}

.project-detail_lists li:last-child {
    margin-bottom: 0px;
}

.project-detail_image-three {
    position: relative;
    margin-bottom: 30px;
}

.project-detail .title {
    position: relative;
    margin-bottom: 20px;
}

.project-detail_image-three img {
    position: relative;
    width: 100%;
    display: block;
    -webkit-mask-image: url(../images/gallery/12-1.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/gallery/12-1.png);
    mask-size: cover;
    mask-repeat: no-repeat;
}

.project-detail .gallery-box {
    position: relative;
    margin-top: 70px;
}

.project-detail h4 {
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
}