/* Induxt Industry Business HTML-5 Template */

/***

====================================================================
	Error One
====================================================================

***/

.error-one {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 120px 0px 80px;
}

.error-one_image {
    position: relative;
    margin-top: 0px;
}

.error-one_content {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.error-one h2 {
    line-height: 1em;
}

.error-one_text {
    position: relative;
    margin-top: 30px;
    color: #666666;
    font-size: 18px;
}

.error-one_button {
    position: relative;
    margin-top: 30px;
}